<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zxs.ssm.mapper.AltermanageMapper" >
  <resultMap id="BaseResultMap" type="zxs.ssm.po.Altermanage" >
    <result column="alterId" property="alterid" jdbcType="INTEGER" />
    <result column="commodityId" property="commodityid" jdbcType="INTEGER" />
    <result column="commodityName" property="commodityname" jdbcType="VARCHAR" />
    <result column="alterTime" property="altertime" jdbcType="VARCHAR" />
    <result column="alterType" property="altertype" jdbcType="VARCHAR" />
    <result column="alterNum" property="alternum" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="alterInventory" property="alterinventory" jdbcType="INTEGER" />
    <result column="commodityUnit" property="commodityunit" jdbcType="VARCHAR" />
    <result column="Order_Num" property="orderNum" jdbcType="VARCHAR" />
    <result column="alterRemark" property="alterremark" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="INTEGER" />
    <result column="commodityMarque" property="commoditymarque" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    alterId, commodityId, commodityName, alterTime, alterType, alterNum, userName, alterInventory, 
    commodityUnit, Order_Num, alterRemark, zt, commodityMarque
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="zxs.ssm.po.AltermanageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from altermanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="zxs.ssm.po.AltermanageExample" >
    delete from altermanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zxs.ssm.po.Altermanage" >
    insert into altermanage (alterId, commodityId, commodityName, 
      alterTime, alterType, alterNum, 
      userName, alterInventory, commodityUnit, 
      Order_Num, alterRemark, zt, 
      commodityMarque)
    values (#{alterid,jdbcType=INTEGER}, #{commodityid,jdbcType=INTEGER}, #{commodityname,jdbcType=VARCHAR}, 
      #{altertime,jdbcType=VARCHAR}, #{altertype,jdbcType=VARCHAR}, #{alternum,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{alterinventory,jdbcType=INTEGER}, #{commodityunit,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=VARCHAR}, #{alterremark,jdbcType=VARCHAR}, #{zt,jdbcType=INTEGER}, 
      #{commoditymarque,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zxs.ssm.po.Altermanage" >
    insert into altermanage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alterid != null" >
        alterId,
      </if>
      <if test="commodityid != null" >
        commodityId,
      </if>
      <if test="commodityname != null" >
        commodityName,
      </if>
      <if test="altertime != null" >
        alterTime,
      </if>
      <if test="altertype != null" >
        alterType,
      </if>
      <if test="alternum != null" >
        alterNum,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="alterinventory != null" >
        alterInventory,
      </if>
      <if test="commodityunit != null" >
        commodityUnit,
      </if>
      <if test="orderNum != null" >
        Order_Num,
      </if>
      <if test="alterremark != null" >
        alterRemark,
      </if>
      <if test="zt != null" >
        zt,
      </if>
      <if test="commoditymarque != null" >
        commodityMarque,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alterid != null" >
        #{alterid,jdbcType=INTEGER},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=INTEGER},
      </if>
      <if test="commodityname != null" >
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="altertime != null" >
        #{altertime,jdbcType=VARCHAR},
      </if>
      <if test="altertype != null" >
        #{altertype,jdbcType=VARCHAR},
      </if>
      <if test="alternum != null" >
        #{alternum,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="alterinventory != null" >
        #{alterinventory,jdbcType=INTEGER},
      </if>
      <if test="commodityunit != null" >
        #{commodityunit,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="alterremark != null" >
        #{alterremark,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="commoditymarque != null" >
        #{commoditymarque,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zxs.ssm.po.AltermanageExample" resultType="java.lang.Integer" >
    select count(*) from altermanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update altermanage
    <set >
      <if test="record.alterid != null" >
        alterId = #{record.alterid,jdbcType=INTEGER},
      </if>
      <if test="record.commodityid != null" >
        commodityId = #{record.commodityid,jdbcType=INTEGER},
      </if>
      <if test="record.commodityname != null" >
        commodityName = #{record.commodityname,jdbcType=VARCHAR},
      </if>
      <if test="record.altertime != null" >
        alterTime = #{record.altertime,jdbcType=VARCHAR},
      </if>
      <if test="record.altertype != null" >
        alterType = #{record.altertype,jdbcType=VARCHAR},
      </if>
      <if test="record.alternum != null" >
        alterNum = #{record.alternum,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.alterinventory != null" >
        alterInventory = #{record.alterinventory,jdbcType=INTEGER},
      </if>
      <if test="record.commodityunit != null" >
        commodityUnit = #{record.commodityunit,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        Order_Num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.alterremark != null" >
        alterRemark = #{record.alterremark,jdbcType=VARCHAR},
      </if>
      <if test="record.zt != null" >
        zt = #{record.zt,jdbcType=INTEGER},
      </if>
      <if test="record.commoditymarque != null" >
        commodityMarque = #{record.commoditymarque,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update altermanage
    set alterId = #{record.alterid,jdbcType=INTEGER},
      commodityId = #{record.commodityid,jdbcType=INTEGER},
      commodityName = #{record.commodityname,jdbcType=VARCHAR},
      alterTime = #{record.altertime,jdbcType=VARCHAR},
      alterType = #{record.altertype,jdbcType=VARCHAR},
      alterNum = #{record.alternum,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      alterInventory = #{record.alterinventory,jdbcType=INTEGER},
      commodityUnit = #{record.commodityunit,jdbcType=VARCHAR},
      Order_Num = #{record.orderNum,jdbcType=VARCHAR},
      alterRemark = #{record.alterremark,jdbcType=VARCHAR},
      zt = #{record.zt,jdbcType=INTEGER},
      commodityMarque = #{record.commoditymarque,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>